[keyboard]
name = "{{ project_name }}"
product_name = "{{ project_name }}"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "RMK"
chip = "{{ chip_name }}"

[matrix]
# Row and col pins are mandatory
row_pins = ["PA9", "PA8", "PA7", "PA6"]
col_pins = ["PA10", "PA14", "PA15"]
# RMK uses col2row as the default matrix diode direction, if you want to use a row2col matrix, add `row2col = true`
# row2col = true

[layout]
rows = 4
cols = 3
layers = 2
keymap = [
    [
        ["A", "B", "C"],
        ["Kc1", "Kc2", "Kc3"],
        ["LCtrl", "MO(1)", "LShift"],
        ["OSL(1)", "LT(2, Kc9)", "LM(1, LShift | LGui)"]
    ],
    [
        ["_", "TT(1)", "TG(2)"],
        ["_", "_", "_"],
        ["_", "_", "_"],
        ["_", "_", "_"]
    ],
]

[dependency]
defmt_log = false